:root {
    --primary: #005e5f;
    --grey: #6c6c6c;
}

* {
    font-family: Lato, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    background-color: #DCDCDC;
}

.modal {
    display:none;
}

#hero-video {
    height: 500px !important;
    width: 100% !important;
}

.video-wrapper {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

img {
    margin:0 auto;
}

h2 {
    color:rgb(63, 63, 63);
    padding-top: 8px;
    font-size: 20px;
    font-weight: 900;
}

#search-results p {
    color: var(--grey);
    font-style: italic;
    font-size: 16px;
}

#description {
    margin: 30px 7% 30px 7%;
}

#description h1 {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    color: var(--primary);
}

#description p {
    font-size: 16px;
    text-align: center;
}

#form-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.btn-primary {
    background-color: var(--primary);
    border: solid 1px var(--primary);
}

.modal-body h3 {
    text-align: left;
    font-size: 18px;
    color: var(--grey);
    font-style: italic;
}

.modal-body p {
    text-align: left;
}

.input-group {
    width: 40%;
}

footer {
    background-color: var(--primary);
    padding: 30px;
    color: white;
}

footer a {
    text-decoration: none;
    color: var(--primary);
}

footer a:hover {
    text-decoration: none;
    color: white;
}

#footer-btn {
    background-color: white;
    color: var(--primary);
    border: solid 2px var(--primary);
}


#footer-btn:hover {
    background-color: var(--primary);
    border: solid 2px white;
    color: white;
}

@media only screen and (max-width: 768px) {
    .input-group {
        width: 90%;
    }

    #hero-video {
        height: 280px !important;
    }
}